
.margin-bottom-10{
	margin-bottom:10px;
}

.margin-bottom-20{
	margin-bottom:20px;
}

.margin-bottom-30{
	margin-bottom:30px;
}

.margin-bottom-40{
	margin-bottom:40px;
}


table td{
	word-wrap: break-word;	
}

table{
	table-layout: fixed; 
	width: 100%;
}

table th{
	text-align: center !important;
	color: #999;
}

table tr.nodetitle th{
	background:#5080e6 !important; 
	color:#ededed;
}

table tr.nodetitle td{
	background:#1a50c0 !important;
	color: #fff; 
}

table tr.nodecontent td{
	text-align:center !important;
	background:#e5e5e5 !important;
}


table tr.childrentitle1 th{
	background:#b2c7f4 !important;
	text-align: center !important;
	color: #777;
}

table tr.childrentitle1 td{
	font-weight: bold; 
	background:#6b94ea !important;
	color: #ededed;
}

table tr.childrencontent1 td{
	background:#d1d1d1 !important;
	text-align: center !important;
}

table tr.childrentitle2 th{
	background:#cddbf8 !important;
	text-align: center !important;
	color: #999;
}

table tr.childrentitle2 td{
	font-weight: bold; 
	background:#86a7ee !important;
	color: #fff;
}

table tr.childrencontent2 td{
	background:#bcbcbc !important;
	text-align: center !important;
}

textarea.input-form{
	width:200px;
	min-height:50px;
}