
.margin-bottom-10{
	margin-bottom:10px;
}

.margin-bottom-20{
	margin-bottom:20px;
}

.margin-bottom-30{
	margin-bottom:30px;
}

.margin-bottom-40{
	margin-bottom:40px;
}

h2{
	font-size: 25px !important;
	line-height: 1 !important;
}

h2 small{
	font-size:16px !important; 
}

table td{
	word-wrap: break-word;	
}

table{
	table-layout: fixed; 
	width: 100%;
}

table th{
	text-align: center !important;
	color: #999;
}

table tr.nodetitle th{
	background:#5080e6 !important; 
	color:#ededed;
}

table tr.nodetitle td{
	background:#1a50c0 !important;
	color: #fff; 
}

table tr.nodecontent td{
	text-align:center !important;
	background:#e5e5e5 !important;
}


table tr.childrentitle1 th{
	background:#b2c7f4 !important;
	text-align: center !important;
	color: #777;
}

table tr.childrentitle1 td{
	font-weight: bold; 
	background:#6b94ea !important;
	color: #ededed;
}

table tr.childrencontent1 td{
	background:#d1d1d1 !important;
	text-align: center !important;
}

table tr.childrentitle2 th{
	background:#cddbf8 !important;
	text-align: left !important;
	color: #999;
	padding-left: 15px;
}

table tr.childrentitle2 td{
	font-weight: bold; 
	background:#86a7ee !important;
	color: #fff;
}

table tr.childrencontent2 td{
	background:#bcbcbc !important;
	text-align: left !important;
}

textarea.input-form{
	width:200px;
	min-height:75px;
}

label.checkbox-lg{
	display: block;	
	margin-bottom: 5px;
}
label.checkbox-lg span{
	vertical-align: top;
	margin: 7px 10px;
	font-size: 16px;
	display: inline-block;
	color: #1a8e1a;
}

input.input-form[type="checkbox"]{
	height: 25px !important;
	width: 25px !important;
	margin: 0px;
}

input.input-form, 
select.input-form{
	margin-bottom: 15px;
}

label.label{
	margin-bottom: 10px;
}

td div.childnodetag{
	display: inline-block;
	width: 150px;
	vertical-align: top;
	padding-top: 24px;		
}

td div.childnodetext{
	display: inline-block;
	left: 150px;
	height: 100px;
	clear: left;
	height: 125px;
}

td div.childnodetext div.textarea{
	float: left;
	padding: 5px;
}

td div.childnodetext div.textarea textarea{
	display: block;
}

td div.childnodetext div.textarea small{
	float: left;
	clear: right;
}

td.childnode{
	vertical-align: top;
}

td div.selector{
	float: right;
	padding: 20px;
	border: 1px solid #999;
	margin: 15px 15px 0 0;
}

td div.selector h4{
	font-size: 18px;
	margin:5px 0 10px 0;
}

td div.selector h3{
	font-size: 22px;
	margin:0px;
}

td div.selector h4 small{
	color:#777;
}

td div.selector hr{
	margin: 5px 0 10px 0;
	border: 1px solid #ccc;	
}