				<!-- Features Starts-->
		
		<div class="features br-lblue block">
			<!-- Container -->
			<div class="container info_container">
				<!-- Page Title -->
				<div class="page-title text-center">
					<h2><i class="green">Desarrollo Web</i> a medida</h2>
					<h3>Programación web y agregados para tu sitio</h3>
				</div>
				
				<!-- Feature One -->
				
				<div class="feature-one">
					<!-- Feature One Item -->
					<div class="feature-one-item">
						<div class="row">
							<div class="col-md-6 col-sm-6">
									<span class="sprite dis_body_icon"></span>
									<h4 class="green">Desarrollamos tu aplicación</h4>
									<p>Diseño, desarrollo y programación de tu aplicación web desde cero.</p>
							</div>
							<div class="col-md-6 col-sm-6">
									<span class="sprite dis_body_icon"></span>
									<h4 class="green">Diseño de interfases / UX</h4>
									<p>Diseño de interfases funcionales, enfocadas en la mejora de la experiencia del usuario.</p>
							</div>
							<div class="col-md-6 col-sm-6">
									<span class="sprite dis_body_icon"></span>
									<h4 class="green">Funcionalidades y agregados</h4>
									<p>Implementamos plugins en tu sitio o programamos desde cero la funcionalidad que necesites.</p>
							</div>
							<div class="col-md-6 col-sm-6">
									<span class="sprite dis_body_icon"></span>
									<h4 class="green">Soporte y mantenimiento</h4>
									<p>Programamos en PHP, MySql y Frameworks con orientación a objetos, garantizando escalabilidad y mantenimiento efectivo.</p>
							</div>
							<a onclick="$('#precios').animatescroll();" class="btn btn-success btn-lg">Contratar ahora</a>
						</div>
					</div>
				</div>
		
		<!-- Features Ends -->	

		<!-- Pricing Starts -->
<a id="precios"></a> 		
		<div class="pricing design br-black text-center block">
			<!-- Container -->
			<div class="container">
				<!-- Page Title -->
				<div class="page-title text-center">
					<h2>Desarrollo Web y programación</h2>
					<h3>Funcionalidades, integraciones o desarrollos desde cero</h3>
				</div>
				
				<!-- Table Responsive -->
				
				<div class="table-responsive">
					<!-- Table -->
					<table class="table table-bordered">
						<!-- Table Row -->
						<tr>
							<!-- Table Header -->
							<th>Desarrollo y programación</th> 
							<th></th>
						</tr>
						<!-- Table Row -->
						<tr>
							<!-- Table Data -->
							<td> 
								<h4 class="green">Desarrollo web</h4>
								<p>Desarrollo y diseño de aplicaciónes web.<br>PHP, MySql, Javascript, jQuery, APIs</p>
							</td>
							<td> <i class="fa fa-check green"></i> </td>
						</tr>
						<tr>
							<td> 
								<h4 class="green">Desarrollo addon</h4>
								<p>Desarrollo de addons para aplicaciónes existentes.</p>
							</td>
							<td> <i class="fa fa-check green"></i> </td>
						</tr>
						<tr>
							<td> 
								<h4 class="green">Integración</h4>
								<p>Integraciones de APIs de servicios de terceros en aplicaciónes web
									<br>Google Cloud, Mailgun, Twitter, Facebook, +</p>
							</td>
							<td> <i class="fa fa-check green"></i> </td>
						</tr>
						<tr>
							<td><h4></h4><p>En todos los servicios se contempla la programación orientada a objetos y uso de frameworks de código abierto.</p></td>
							<td> <i class="fa fa-check green"></i> </td>
						</tr>
						<tr>
							<td></td>
							<td class="br-red">desde $ 350 / hora</td>
						</tr>						
						<tr>
							<td></td>
							<td><a href="http://client.rewrite.com.ar/plugin/order/main/index/desarrollo" target="_blank" class="btn btn-success">Contratar</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		
		<!-- Pricing Ends -->		