				<!-- Features Starts-->
		
		<div class="features br-lblue block">
			<!-- Container -->
			<div class="container info_container">
				<!-- Page Title -->
				<div class="page-title text-center">
					<h2><i class="green">Diseño Web</i> agregado a tu plan</h2>
					<h3>Servicios de diseño adicionales cuando lo requieras</h3>
				</div>
				
				<!-- Feature One -->
				
				<div class="feature-one">
					<!-- Feature One Item -->
					<div class="feature-one-item">
						<div class="row">
							<div class="col-md-6 col-sm-6">
									<span class="sprite dis_body_icon"></span>
									<h4 class="green">Servicios de Diseño web</h4>
									<p>Servicios adicionales para optimizar al maximo la plantilla elegida para tu proyecto.</p>
							</div>
							<div class="col-md-6 col-sm-6">
									<span class="sprite dis_body_icon"></span>
									<h4 class="green">Diseñamos tu logo</h4>
									<p>Branding enfocado a renovar o generar la identidad ideal para lograr presencia web.</p>
							</div>
							<div class="col-md-6 col-sm-6">
									<span class="sprite dis_body_icon"></span>
									<h4 class="green">Dispositivos mobile</h4>
									<p>Si buscas obtener mayor detalle en dispositivos mobile, ofrecemos realizar ajustes para los mismos.</p>
							</div>
							<div class="col-md-6 col-sm-6">
									<span class="sprite dis_body_icon"></span>
									<h4 class="green">Mejoramos tu web</h4>
									<p>Si la necesidad determina cambios en tu web, nosotros nos hacemos cargo para que vos sigas manejando tu negocio.</p>
							</div>
							<button onclick="$('#precios').animatescroll();" class="btn btn-danger btn-lg">Contratar ahora</button>
						</div>
					</div>
				</div>
		
		<!-- Features Ends -->	

		<!-- Pricing Starts -->
<a id="precios"></a> 		
		<div class="pricing design br-black text-center block">
			<!-- Container -->
			<div class="container">
				<!-- Page Title -->
				<div class="page-title text-center">
					<h2>Servicios de Diseño Web</h2>
					<h3>Agregados a tu plan en cualquier momento</h3>
				</div>
				
				<!-- Table Responsive -->
				
				<div class="table-responsive">
					<!-- Table -->
					<table class="table table-bordered">
						<!-- Table Row -->
						<tr>
							<!-- Table Header -->
							<th>Servicios adicionales de diseño</th> 
							<th></th>
						</tr>
						<!-- Table Row -->
						<tr>
							<!-- Table Data -->
							<td> 
								<h4 class="green">Diseño web</h4>
								<p>Diseño de plantillas html, páginas, interfases, logos.
									<br>HTML, CSS, UX, Mokups, UI.</p>
							</td>
							<td> <i class="fa fa-check green"></i> </td>
						</tr>
						<tr>
							<td></td>
							<td class="br-red">Consultanos</td>
						</tr>						
					</table>
				</div>
			</div>
		</div>
		
		<!-- Pricing Ends -->		