		<!-- Features Starts-->
		
		<div class="features br-lblue block">
			<!-- Container -->
			<div class="container info_container">
				<!-- Page Title -->
				<div class="page-title text-center">
					<h2><i class="orange">Moodle</i> E-Learning</h2>
					<h3><strong>Instalación</strong>, <strong>cloud hosting</strong> y <strong>soporte</strong></h3>
				</div>
				
				<!-- Feature One -->
				
				<div class="feature-one">
					<!-- Feature One Item -->
					<div class="feature-one-item">
						<div class="row">
							<div class="col-md-6 col-sm-6">
									<span class="sprite"></span>
									<h4 class="orange">Liderazgo en Educación Web</h4>
									<p>Moodle es una aplicación líder de código abierto para gestión de contenido educativo.</p>
							</div>
							<div class="col-md-6 col-sm-6">
									<span class="sprite"></span>
									<h4 class="orange">Usuarios en todo el mundo</h4>
									<p>Hoy casi 100 millones de usuarios utilizan Moodle para sus actividades educativas.</p>
							</div>
							<div class="col-md-6 col-sm-6">
									<span class="sprite"></span>
									<h4 class="orange">Open Source</h4>
									<p>Moodle es libre y gratuito bajo licencia GNU y puede ser adaptada, extendida o modificada libremente.</p>
							</div>
							<div class="col-md-6 col-sm-6">
									<span class="sprite"></span>
									<h4 class="orange">Establecido en el tiempo</h4>
									<p>Con mas de diez años de presencia en el mercado y desarrollado por el Projecto Moodle en Australia.</p>
							</div>
							<button class="btn btn-danger btn-lg">Contratar Instalación</button>
						</div>
					</div>
				</div>