		<!-- Product Starts-->
		
		<div class="product br-green block">
			<!-- Container -->
			<div class="container">
			<!-- Page Title -->
				<div class="page-title text-center">
					<h2>Desarrollo Web</h2>
					<h3><strong>Desarrollo </strong> de aplicaciones web <strong>& Diseño</strong> UX</h3>
				</div>
				
				<!-- Product One -->
				
				<div class="product-one text-center">
					<!-- Product One Item -->
					<div class="product-one-item">
						<!-- Product One Image -->
						<div class="product-one-image animated">
							<!-- Image -->
							<a href="#">{{ theme:image file="product/metro.png" alt="" class="img-responsive" }}</a>
						</div>
					</div>
				</div>
				
				<!-- Product Two -->
				
				<div class="product-two">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<!-- Product Two Item -->
							<div class="product-two-item">
								<!-- Product Two Image -->
								<div class="product-two-image animated">
									<!-- Image -->
									{{ theme:image file="product/1.jpg" alt="" class="img-responsive" }}
								</div>
								<!-- Product Two Content -->
								<div class="product-two-content">
									<!-- Heading -->
									<h6>Desarrollo de Portales</h6>
									<!-- Paragraph -->
									<p>Sitios web con funciones especiales, para interacción y atracción de nuevos usuarios. <br>Ejemplos: blogs, noticias, intranets, ecommerce.</p>
								</div>
								<!-- Clear -->
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="product-two-item">
								<div class="product-two-image animated">
									{{ theme:image file="product/2.jpg" alt="" class="img-responsive" }}
								</div>
								<div class="product-two-content">
									<h6>Aplicaciones</h6>
									<p>Desarrollo de aplicaciones web desde cero, con backend, para gestión de recursos o contenidos de la organización.
									<br>Ejemplos: job posting, encuestas internas, gestión de competencias.</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="product-two-item">
								<div class="product-two-image animated">
									{{ theme:image file="product/4.jpg" alt="" class="img-responsive" }}
								</div>
								<div class="product-two-content">
									<h6>Addons</h6>
									<p>Desarrollo de funciones adicionales a aplicaciones existentes, implementados como módulos o plugins.<br>
										Ejemplo: modulo de informes para moodle, lector de RSS para Wordpress, etc.</p>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="product-two-item">
								<div class="product-two-image animated">
									<a>{{ theme:image file="product/3.jpg" alt="" class="img-responsive" }}</a>
								</div>
								<div class="product-two-content">
									<h6>Integraciones</h6>
									<p>Integración de funciones en la aplicación a traves de APIs de terceros.<br>
										Ejemplo: autenticación de usuarios con Google, Facebook, etc. Servicio de almacenamiento externo con Gdrive, Dropbox, etc.</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-6">	
							<div class="first-row-buttons">				
								<!-- Buttons -->
								<a onclick="$('#portfolio').animatescroll();" class="btn btn-black btn-lg">Ver portfolio</a>&nbsp;
								<a onclick="$('#precios').animatescroll();" class="btn btn-danger btn-lg">Contratar ahora</a>	
							</div>	
						</div>
					</div>					
				</div>
			</div>
		</div>
		
		<!-- Product Ends -->
		<!-- Portfolio Starts-->
<a id="portfolio"></a>		
		<div class="portfolio br-black text-center block">
			<!-- Container -->
			<div class="container">
				<!-- Page Title -->
				<div class="page-title">
					<!-- Heading -->
					<h2>Portfolio</h2>
					<h3><strong>Aplicaciones</strong> e <strong>integraciones</strong> desarrolladas</h3>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<!-- Portfollio Item -->
						<div class="portfolio-item">
							<!-- Portfolio Image -->
							<div class="portfolio-image">
								<!-- Image -->
								<a href="{{ theme:image_path }}portfolio/1.jpg" class="prettyphoto"> <span class="img-hover"> <i class="fa fa-search"></i> </span>
									{{ theme:image file="portfolio/tn1.jpg" alt=" " class="img-responsive" }}</a>
							</div>
							<!-- portfolio Body -->
							<div class="portfolio-body br-lblue">
								<!-- Heading -->
								<h3>Moodle + informes</h3>
								<!-- Paragraph -->
								<p>Módulo especial de informes desarrollado para la plataforma Moodle.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="{{ theme:image_path }}portfolio/2.jpg" class="prettyphoto"> <span class="img-hover"> <i class="fa fa-search"></i> </span>
									{{ theme:image file="portfolio/tn2.jpg" alt=" " class="img-responsive" }}</a>
							</div>
							<div class="portfolio-body br-red">
								<h3>Backend + API</h3>
								<p>Administrador de usuarios, sesiones y cuentas. Integración con API de sistema Wiziq.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<!-- Portfolio Item -->
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="{{ theme:image_path }}portfolio/3.jpg" class="prettyphoto"> <span class="img-hover"> <i class="fa fa-search"></i> </span>
									{{ theme:image file="portfolio/tn3.jpg" alt=" " class="img-responsive" }}</a>
							</div>
							<div class="portfolio-body br-green">
								<h3>Frontend + API</h3>
								<p>Sitio Web integrado con API de mapas de Google Maps, con carga dinámica.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<!-- Portfolio Item -->
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="{{ theme:image_path }}portfolio/4.jpg" class="prettyphoto"> <span class="img-hover"> <i class="fa fa-search"></i> </span>
									{{ theme:image file="portfolio/tn4.jpg" alt=" " class="img-responsive" }}</a>
							</div>
							<div class="portfolio-body br-orange">
								<h3>Aplicación</h3>
								<p>Aplicación con backend para gestión de consultas y presupuestos.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<!-- Portfolio Item -->
						<div class="portfolio-item">
							<!-- Portfolio Image -->
							<div class="portfolio-image">
								<!-- Image -->
								<a href="{{ theme:image_path }}portfolio/5.jpg" class="prettyphoto"> <span class="img-hover"> <i class="fa fa-search"></i> </span>   
									{{ theme:image file="portfolio/tn5.jpg" alt=" " class="img-responsive" }}</a>
							</div>
							<!-- portfolio Body -->
							<div class="portfolio-body br-pink">
								<!-- Heading -->
								<h3>Juego</h3>
								<!-- Paragraph -->
								<p>Juego para eventos, similar a Rueda de la fortuna.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
					<!-- Portfolio Item -->
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="{{ theme:image_path }}portfolio/6.jpg" class="prettyphoto"> <span class="img-hover"> <i class="fa fa-search"></i> </span>
									{{ theme:image file="portfolio/tn6.jpg" alt=" " class="img-responsive" }}</a>
							</div>
							<div class="portfolio-body br-brown">
								<!-- Heading -->
								<h3>Juego</h3>
								<!-- Paragraph -->
								<p>Juego para eventos, similar a Jeopardy.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<!-- Portfolio Item -->
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="{{ theme:image_path }}portfolio/7.jpg" class="prettyphoto"> <span class="img-hover"> <i class="fa fa-search"></i> </span>
									{{ theme:image file="portfolio/tn7.jpg" alt=" " class="img-responsive" }}</a>											
							</div>
							<div class="portfolio-body br-blue">
								<!-- Heading -->
								<h3>Juego</h3>
								<!-- Paragraph -->
								<p>Juego para eventos, de preguntas y respuestas.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<!-- Portfolio Item -->
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="{{ theme:image_path }}portfolio/8.jpg" class="prettyphoto"> <span class="img-hover"> <i class="fa fa-search"></i> </span>
									{{ theme:image file="portfolio/tn8.jpg" alt=" " class="img-responsive" }}</a>											
							</div>
							<div class="portfolio-body br-purple">
								<!-- Heading -->
								<h3>Presentación</h3>
								<!-- Paragraph -->
								<p>Presentación institucional con menu interactivo.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<!-- Portfollio Item -->
						<div class="portfolio-item">
							<!-- Portfolio Image -->
							<div class="portfolio-image">
								<!-- Image -->
								<a href="{{ theme:image_path }}portfolio/9.jpg" class="prettyphoto"> <span class="img-hover"> <i class="fa fa-search"></i> </span>
									{{ theme:image file="portfolio/tn9.jpg" alt=" " class="img-responsive" }}</a>
							</div>
							<!-- portfolio Body -->
							<div class="portfolio-body br-lblue">
								<!-- Heading -->
								<h3>Aplicación</h3>
								<!-- Paragraph -->
								<p>Aplicación de gestión de usuarios participantes de una competencia interna.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="{{ theme:image_path }}portfolio/10.jpg" class="prettyphoto"> <span class="img-hover"> <i class="fa fa-search"></i> </span>
									{{ theme:image file="portfolio/tn10.jpg" alt=" " class="img-responsive" }}</a>
							</div>
							<div class="portfolio-body br-red">
								<h3>Aplicación</h3>
								<p>Aplicación de gestión de encuestas y confeccíon de informes consolidados.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<!-- Portfolio Item -->
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="{{ theme:image_path }}portfolio/11.jpg" class="prettyphoto"> <span class="img-hover"> <i class="fa fa-search"></i> </span>
									{{ theme:image file="portfolio/tn11.jpg" alt=" " class="img-responsive" }}</a>
							</div>
							<div class="portfolio-body br-green">
								<h3>Aplicación</h3>
								<p>Aplicación frontend + backend para publicación de ofertas de trabajos y postulaciónes.</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<!-- Portfolio Item -->
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="{{ theme:image_path }}portfolio/12.jpg" class="prettyphoto"> <span class="img-hover"> <i class="fa fa-search"></i> </span>
									{{ theme:image file="portfolio/tn12.jpg" alt=" " class="img-responsive" }}</a>
							</div>
							<div class="portfolio-body br-orange">
								<h3>Aplicación</h3>
								<p>Aplicación para gestión de encuestas para partipantes de programa interno.</p>
							</div>
						</div>
					</div>
				</div>				
			</div>
		</div>
		
		<!-- Portfolio Ends -->		

		<!-- Pricing Starts -->
<a id="precios"></a> 		
		<div class="pricing br-black text-center block">
			<!-- Container -->
			<div class="container">
				<!-- Page Title -->
				<div class="page-title">
					<h2>Precios</h2>
					<h3><strong>Precios</strong> y detalles</h3>
				</div>
				
				<!-- Table Responsive -->
				
				<div class="table-responsive">
					<!-- Table -->
					<table class="table table-bordered">
						<!-- Table Row -->
						<tr>
							<!-- Table Header -->
							<th>Servicios de desarrollo</th> 
							<th></th>
						</tr>
						<!-- Table Row -->
						<tr>
							<!-- Table Data -->
							<td> 
								<h4><span class="br-red td-icon animated"> <i class="fa fa-code"></i> </span>Desarrollo web</h4>
								<p>Desarrollo y diseño de aplicaciónes web</p>
							</td>
							<td> <i class="fa fa-check green"></i> </td>
						</tr>
						<tr>
							<td> 
								<h4><span class="br-blue td-icon animated"> <i class="fa fa-code"></i> </span>Desarrollo addon</h4>
								<p>Desarrollo de addons para aplicaciónes existentes.</p>
							</td>
							<td> <i class="fa fa-check green"></i> </td>
						</tr>
						<tr>
							<td> 
								<h4><span class="br-pink td-icon animated"> <i class="fa fa-code"></i> </span>Integración</h4>
								<p>Integraciones de APIs de servicios de terceros en aplicaciónes web</p>
							</td>
							<td> <i class="fa fa-check green"></i> </td>
						</tr>
						<tr>
							<td><h4><span class="br-black td-icon animated"> <i class="fa fa-suitcase"></i> </span></h4><p>En todos los servicios se contempla la programación orientada a objetos y uso de frameworks de código abierto.</p></td>
							<td> <i class="fa fa-check green"></i> </td>
						</tr>
						<tr>
							<td></td>
							<td class="br-red">desde $ 350 / hora</td>
						</tr>						
						<tr>
							<td></td>
							<td><a href="http://client.rewrite.com.ar/plugin/order/main/index/desarrollo" target="_blank" class="btn btn-danger">Contratar</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		
		<!-- Pricing Ends -->		