		<!-- Service Starts -->
		
		<div class="service br-red text-center block">
			<!-- Container -->
			<div class="container">
				<!-- Page Title -->
				<div class="page-title">
					<!-- Header -->
					<h2>Servicios en la Nube</h2>
					<h3>Cloud <strong>hosting</strong>, <strong>desarrollo</strong> web & <strong>soporte</strong> técnico</h3>
				</div>
				
				<!-- Service One -->
				
				<div class="service-one">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<!-- Service One Item -->
							<div class="service-one-item">
								<!-- Service One Icon -->
								<div class="service-one-icon animated">
									<!-- Icon -->
									<a> <i class="fa fa-upload"></i> </a>
								</div>
								<!-- Header -->
								<h4><a>Implementación</a></h4>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="service-one-item"> 
								<div class="service-one-icon animated">
									<a> <i class="fa fa-code"></i> </a>
								</div>
								<h4><a>Desarrollo</a></h4>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="service-one-item">
								<div class="service-one-icon animated">
									<a> <i class="fa fa-cloud"></i> </a>
								</div>
								<h4><a>Cloud Hosting</a></h4>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="service-one-item">
								<div class="service-one-icon animated">
									<a> <i class="fa fa-wrench"></i> </a>
								</div>
								<h4><a>Soporte</a></h4>
							</div>
						</div>
					</div>
				</div>
					
				<!-- Service Two -->
				
				<div class="service-two text-center">
					<div class="row">
						<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
							<!-- Service Two Item -->
							<div class="service-two-item">
								<!-- Service Content Left -->
								<div class="service-content-left br-blue animated animated">
									<h4>Implementación</h4>
									<p>Instalamos la aplicación en nuestros servidores de acuerdo a tus requerimientos.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2">
							<!-- Service Two Item -->
							<div class="service-two-item">
								<!-- Service Content Right -->
								<div class="service-content-right br-green animated">
									<h4>Desarrollo</h4>
									<p>Desarrollamos aplicaciones desde cero o agregamos funciones a apps existentes.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="service-two-item">
								<div class="service-content-left br-pink animated">
									<h4>Llave en mano</h4>
									<p>Configuramos la aplicación por vos y te la entregamos lista para usar.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="service-two-item">
								<div class="service-content br-black animated">
									<h4>Cloud Hosting</h4>
									<p>Nuestros servidores son de alta disponibilidad, colocados en datacenters de ultima generación.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="service-two-item">
								<div class="service-content-right br-orange animated">
									<h4>Programación</h4>
									<p>Programamos bajo standard y con orientación a objetos.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
							<div class="service-two-item">
								<div class="service-content-left br-lblue animated">
									<h4>Mantenimiento</h4>
									<p>Mantenemos la aplicación por vos, para que no tengas que preocuparte por actualizaciones o parches de seguridad.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2">
							<div class="service-two-item">
								<div class="service-content-right br-purple animated">
									<h4>Soporte</h4>
									<p>Te asistimos en todo requerimiento técnico y damos solución a situaciones que excedan la operación de la aplicación.</p>
								</div>
							</div>
						</div>
					</div>
				</div>	
				
				<!-- Service Three -->
				
				<div class="service-three">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<!-- Service Item -->
							<div class="service-three-item">
								<!-- Header -->
								<div class="service-three-head br-purple">
									<!-- Top Icon -->
									<a href="#" class="service-icon-top"> <i class="fa fa-cloud"></i> </a>
									<!-- Bottom Icon -->
									<a href="#" class="service-icon-bottom"> <i class="fa fa-cloud-upload"></i> </a>
								</div>
								<!-- Paragraph -->
								<div class="service-three-body br-white black">
									<!-- Header -->
									<h3>Instalación llave en mano</h3>
									<!-- Paragraph -->
									<p>Instalamos y configuramos tus aplicaciones en nuestro servidor. Ajustamos el sistema a tus requerimientos y te lo entregamos listo para usar.</p><br>
									<a href="cloud-hosting-de-aplicaciones" class="btn btn-danger btn-lg">Mas información</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- Service Three Item -->
							<div class="service-three-item">
								<div class="service-three-head br-green">
									<a href="#" class="service-icon-top"> <i class="fa fa-code"></i> </a>
									<a href="#" class="service-icon-bottom"> <i class="fa fa-bar-chart-o"></i> </a>
								</div>
								<div class="service-three-body br-white black">
									<h3>Desarrollo Web</h3>
									<p>Desarrollamos aplicaciones web o módulos adicionales en PHP, programamos bajo standard y con orientación a objetos.</p><br>
									<a href="desarrollo-de-aplicaciones-web" class="btn btn-danger btn-lg">Mas información</a>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- Service Three Item -->
							<div class="service-three-item">
								<div class="service-three-head br-lblue">
									<a href="#" class="service-icon-top"> <i class="fa fa-wrench"></i> </a>
									<a href="#" class="service-icon-bottom"> <i class="fa fa-coffee"></i> </a>
								</div>							
								<div class="service-three-body br-white black">
									<h3>Soporte técnico</h3>
									<p>Asistencia técnica a tus aplicaciones, resolvemos todos los requerimientos que excedan la operación del sistema.</p><br>
									<a href="cloud-hosting-de-aplicaciones" class="btn btn-danger btn-lg">Mas información</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Service Ends -->