
    <!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{{ theme:js file="bootstrap.min.js" }} 
<!-- jQuery REVOLUTION Slider  -->
{{ theme:js file="jquery.themepunch.plugins.min.js" }}
{{ theme:js file="jquery.themepunch.revolution.min.js" }}
<!-- Arbitrary Anchor JS -->
{{ theme:js file="jquery.arbitrary-anchor.js" }}
<!-- jQuery way points -->
{{ theme:js file="waypoints.min.js" }}
<!-- jQuery Sticky JS -->
{{ theme:js file="jquery.sticky.js" }}
<!-- Dropdown Levels Menu JS -->
{{ theme:js file="ddlevelsmenu.js" }}
<!-- Pretty Photo JS -->
{{ theme:js file="jquery.prettyPhoto.js" }}
<!-- Respond JS for IE8 -->
{{ theme:js file="respond.min.js" }}
<!-- HTML5 Support for IE -->
{{ theme:js file="html5shiv.js" }}
<!-- Animate scroll -->
{{ theme:js file="animatescroll.js" }}

<!-- RWFORM -->
{{ theme:js file="rwform_plugin.js" }}

<!-- Custom JS -->
{{ theme:js file="custom.js" }}     

{{  theme:partial name="google/analyticstracking" }}



