		<!-- Contact Us Starts-->
		
		<div class="contact-us br-red text-center block">
			<!-- Container -->
			<div class="container">
				<!-- Page Title -->
				<div class="page-title">
					<!-- Header -->
					<h2>Contactanos</h2>
				</div>
				
				<!-- Contact One -->
				
				<div class="contact-one">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<!-- Contact One Item -->
							<div class="contact-one-item">
								<h5>ReWrite Media</h5>
								<p>Cloud hosting | Desarrollo web | Soporte<br>
									Ciudad Autónoma de Buenos Aires<br>
									Argentina.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- Contact One Item -->
							<div class="contact-one-item">
								<h5>Correo electrónico</h5>
								<p><a href="mailto:info@rewrite.com.ar">info@rewrite.com.ar</a></p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="contact-one-item">
								<!-- Header -->
								<h6>Enlaces Sociales</h6>
								<p>Encontranos en las redes sociales.</p> 
								<!-- Social -->
								<div class="social icons">
									<!-- Social Icons -->
									<a href="#" class="social-icon"> <i class="fa fa-facebook"></i> </a>
									<a href="#" class="social-icon"> <i class="fa fa-twitter"></i> </a>
									<a href="#" class="social-icon"> <i class="fa fa-google-plus"></i> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
				
		<!-- Contact Us Ends -->
				
		<!-- Footer Starts-->
	
		<footer class="text-center">
			<!-- Container -->
			<div class="container">
				<!-- Footer Content -->
				<div class="footer-content">
					<p><small>Derechos reservados 2014 &copy; - </small><a href="#">ReWrite <small>- Diseño, desarrollo, cloud hosting y soporte.</small></a>
				</div>
			</div>
		</footer>
		
		<!-- Footer Ends -->
		
		<!-- Scroll To Top -->
			<span class="top"><a href="#"> <i class="fa fa-chevron-up"></i> </a></span>