/************************
/************************
Designed by : http://responsivewebinc.com
************************/


/* Basic CSS starts */

*{
	border-radius:0px !important;
	box-shadow:none  !important;
}

body{
	color:#f6f6f6;
	font-size:13px;
	line-height:20px;
	font-family: 'Proxima Nova Light', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	background-color: #010646;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Proxima Nova Light', sans-serif;
	margin:0px !important;
}

p{
	margin:0;
	padding:0;
}

a{
	color:#f6f6f6;
	border-bottom:1px dotted #fff;
}

a:hover{
	color:#eee;
	text-decoration:none;
	border-bottom:0px;
}

a:hover,a:active,a:focus {
	outline: 0;
}

hr{

}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

/* Colors */

.white{
	color:#fff;
}

.black{
	color:#444;
}

.grey{
	color:#bbb;
}

.red{
	color:rgba(247, 83, 83, 0.7);
}

.green{
	color:rgba(6, 193, 73, 0.7);
}

.lblue{
	color:#32c8de;
}

.blue{
	color:#33ccff;
}

.brown{
	color:#c27256;
}

.pink{
	color:#eb76cb;
}	

.orange{
	color:#d80c07;
}

.yellow{
	color:#f4e375;
}

.purple{
	color:#cb79e6;
}

/* Background */

.br-white{
	background:#fff;
}

.br-black{
	background:#444;
}

.br-grey{
	background:#bbb;
}

.br-red{
	background:#f75353;
}

.br-green{
	background:#51d466;
}

.br-lblue{
	background:transparent;
}

.br-blue{
	background:#609cee;
}

.br-brown{
	background:#c27256;
}

.br-pink{
	background:#eb76cb;
}

.br-orange{
	background:rgba(255, 255, 255, 0.25);
}

.br-yellow{
	background:#f4e375;
}

.br-purple{
	background:#cb79e6;
}

/* Button */

.btn{
	color:#fff;
	border:0px;
	font-size:13px;
}

.btn:hover{
	color:#fff;
}
 
.btn-xs{
	font-size:12px !important;
}

.btn-sm{
	font-size:12px !important;
}

.btn-lg{
	font-size:14px;
}

/* Buttons Color and Hover Colors*/

.btn-default{
	background:#f6f6f6;
	color:#555 !important;
}

.btn-default:hover{
	background:#eee;
	color:#333 !important;
}

.btn-primary{
	background:#609cee;
}

.btn-primary:hover{
	background:#4584d8;
}

.btn-success{
	background:#51d466;
}

.btn-success:hover{
	background:#3dcb53;
}

.btn-info{
	background:#32c8de;
}

.btn-info:hover{
	background:#31b5c8;	
}

.btn-warning{
	background:#f7a253;
}

.btn-warning:hover{
	background:#ed8f38;	
}

.btn-danger{
	background:#f75353;
}

.btn-danger:hover{
	background:#e93939;	
}

.btn-black{
	background:#444;
}

.btn-black:hover{
	background:#222;
}

.btn-pink{
	background:#eb76cb;
}

.btn-pink:hover{
	background:#e14ead;
}

.btn-violet{
	background:#cb79e6;
}

.btn-violet:hover{
	background:#af52ce;	
}


/* Basic CSS ends */

/* Container */

.container{
	max-width:100%;
}

/* Social Icons */

.social a.social-icon{
   border-bottom:none;
   display:inline-block;
   width:35px;
   height:35px;
   font-size:14px !important;
   line-height:35px;
   border-radius:100px !important;
   text-decoration:none;
   text-align:center;
   color:#fff;
   background:#444;
   margin-right:5px;
   margin-top:10px;
   -webkit-transition: background 2s ease;
   -moz-transition: background 2s ease;
   -o-transition: background 2s ease;
   -ms-transition: background 2s ease;
   transition: background 2s ease;
}

.social a.social-icon:hover{
   background:#000;
   -webkit-transition: background 2s ease;
   -moz-transition: background 2s ease;
   -o-transition: background 2s ease;
   -ms-transition: background 2s ease;
   transition: background 2s ease;
}

/* Block */

.block{
	padding-top:100px;
	padding-bottom:30px;
}

/* Header Starts */

header{
	background:rgba(1, 6, 70, 0.9);
	height:90px;
	width:100%;
	z-index:56600 !important;
}

header .logo h1{
	font-size:30px;
	font-weight:bold;
	letter-spacing:0.03em;
	padding:0px;
	margin:0px;
	line-height:90px;
}

header .logo h1 a{
	color:#f6f6f6;	
	border-bottom:0px;
}

header .logo h1 a:hover{
	color:#f6f6f6;
}

header .logo h1 a i{
	color:#f75353;
}

 /* Navigation */
 
.navi {
	text-align:center;
}

.navi *{
	border-radius:0px !important;
}

.mattblackmenu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border-bottom: none;
	overflow: hidden;
	background:transparent;
}

.mattblackmenu li{
	text-align:center;
}

	.mattblackmenu ul li:nth-child(3){
		display: none;
	}

.mattblackmenu li a{
	float: none;
	display: inline-block;
	text-decoration: none;
	margin: 0px;
	padding:0px 19px;
	line-height:90px;
	border:0px;
	color:#fff;
	font-weight:normal;
	font-size:18px;
	background:transparent;
	font-family: 'Proxima Nova Light', sans-serif;
}

.mattblackmenu li a:hover{
	background:transparent;
}

.mattblackmenu li a span.caret{
	border-top:5px solid #fff;
	margin-left:8px;
}

.ddsubmenustyle{
	border-left:1px solid #222;
	border-right:1px solid #222;
	border-top:1px solid #222;	
}

.ddsubmenustyle{
	position:fixed !important;
	top:90px !important;
}

.ddsubmenustyle ul {
	margin: 0;
	padding: 0;
	position: absolute;
	left:0;
	top:0;
	list-style-type: none;	
	z-index:500 !important;
}

.ddsubmenustyle li a {
	display: block;
	width: 150px;
	color: #fff;
	font-size:13px;
	text-decoration: none;
	padding: 10px 15px;
	background:#111 !important;
	border-bottom:1px solid #000;
	font-family: 'Proxima Nova Light', sans-serif;
}

.ddsubmenustyle li a:hover {
	color: #fff;
	background: #222 !important;
}

/* SELECT MENU */

.navis select{
	display:none;
}

/* Header Ends */

/* Revolution Slider Starts */

.banner-container{
	width:100% !important;
	top:0;
	padding:0;
	position:relative;
	overflow:hidden !important;
	margin:0px !important;
}

.banner-container .banner{
	width:100%;
	height:500px;
	position:relative;
	overflow:hidden !important;
	margin:0px !important;
}

.banner-container ul{
	list-style-type:none !important;
	margin:0;
	padding:0;
	display:none;
}

.tp-caption.large_bold_white{
	font-family: 'Proxima Nova Light', sans-serif !important;
}

.tp-caption.stwo_icon{
	font-size:85px;
	line-height:95px;
}

.tp-caption a.caption-button{
	border-bottom:0px;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	padding: 0px 15px;
	line-height: 40px;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	-ms-transition: background 1s ease;
	transition: background 1s ease;
}

.tp-caption a.caption-button:hover{
	-webkit-transition: background 1s ease;
   -moz-transition: background 1s ease;
   -o-transition: background 1s ease;
   -ms-transition: background 1s ease;
   transition: background 1s ease;
}

.tp-caption a.br-lblue:hover{
	background:#10a0b5;
}

.tp-caption a.br-red:hover{
	background:#d12727;
}

.tp-caption a.br-green:hover{
	background:#1bc336;
}

.tp-caption.small-light-white{
	font-family: 'Proxima Nova Light', sans-serif !important;
}

.tp-caption.stwo_head{
	padding:10px;
	line-height:18px;
	font-size:18px;
	font-weight:bold;
}

.banner-container .sthree_image img{
	width:400px;
}

.tp-caption.large_bold_grey{
	font-family: 'Proxima Nova Light', sans-serif !important;
	font-size:20px;
	color:rgb(150, 150, 150) !important;
}

.tp-caption.sthree_icon span{
	padding:25px;
	display:inline-block !important;
}

.tp-caption.sthree_icon span i{
	margin-right:10px;
}

.tp-caption.large_text{
	font-size:25px;
	text-shadow:none;
	font-family: 'Proxima Nova Light', sans-serif !important;
	font-weight:700 !important;
}

.tp-caption.medium_text{
	font-size:15px;
	line-height:25px;
	text-shadow:none;
	font-weight:300;
	font-family: 'Proxima Nova Light', sans-serif !important;
}

/* Revolution Slider Ends */

/* Service Starts */

/* Service One */

.service .service-one{
	margin-top:100px;
}

.service .service-one-item a{
	font-size:70px !important;
	border-bottom:0px !important;
}

.service .service-one-icon{
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	 animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s; 
}

.service .service-one-icon.animation{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.service .service-one-item h4{
	margin-top:20px !important;
	margin-bottom:20px !important;
	font-family: 'Proxima Nova Light', sans-serif;
}

.service .service-one-item h4 a{
	font-size:20px !important;
	line-height:30px;
	color:#bbb;
}

/* Service Two */

.service .service-two{
	margin-top:50px;
	margin-bottom:30px;
}

.service .service-content-left{
	padding:15px 20px 20px 20px;
	text-align:left;
	margin:40px 0px;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	 animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s; 
}

.service .service-content-left.animation{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.service .service-content-left h4{
	font-size:25px;
	font-weight:bold;
}

.service .service-content-left p{
	margin-top:10px;
	font-size:14px;
}

.service .service-content-right{
	padding:15px 20px 20px 20px;
	text-align:left;
	margin:40px 0px;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	 animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s; 
}

.service .service-content-right.animation{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.service .service-content-right h4{
	font-size:25px;
	font-weight:bold;
}

.service .service-content-right p{
	margin-top:10px;
	font-size:14px;
}

.service .service-content{
	width:200px;
	height:200px;
	border-radius:200px !important;
	margin:0 auto;
	padding:20px;
	text-align:center !important;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	 animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s;
}

.service .service-content.animation{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.service .service-content h4{
	font-size:25px;
	font-weight:bold;
	margin-top:20px !important;
}

.service .service-content p{
	margin-top:20px;
}

 /* Service Three */
 
.service .service-three-head{
	height:150px;
	line-height:150px;
	overflow:hidden;
	font-size:60px;
	margin-top:50px !important;
}

.service .service-three-head a.service-icon-top{
	color:#fff;
	position:relative;
	display:block;
	top:0px;
	-webkit-transition:all 0.15s linear;
	-o-transition:all 0.15s linear;
	-ms-transition:all 0.15s linear;
	-moz-transition:all 0.15s linear;
	transition:all 0.15s linear;
}

.service .service-three-head:hover a.service-icon-top{
	top:120px;
}

.service .service-three-head a.service-icon-bottom{
	color:#fff;
	position:relative;
	top:0px;
	display:block;
	-webkit-transition:all 0.15s linear;
	-o-transition:all 0.15s linear;
	-ms-transition:all 0.15s linear;
	-moz-transition:all 0.15s linear;
	transition:all 0.15s linear;
}

.service .service-three-head:hover a.service-icon-bottom{
	top:-150px;
}

.service .service-three-body{
	padding:20px;
}

.service .service-three-body h3{
	font-weight:bold;
	font-size:26px;
}

.service .service-three-body p{
	margin-top:10px;
	line-height:25px;
	color:#666;
}

/* Service Ends */

/* Hero Starts  */

.hero h2{
	font-size:50px;
}

.hero p{
	font-size:27px;
	line-height:40px;
	font-family: 'Proxima Nova Light', sans-serif;
	max-width:700px;
	margin:0 auto;
	margin-top:30px;
}

.hero p span{
	display:inline-block;
	padding:2px 10px;
	color:#fff;
}

.hero a.btn{
	margin-top:30px;
}

/* Hero Ends */

/* Page Title Starts*/

.page-title h2{
	font-size:55px;
}

.page-title h3{
	font-size:35px;
	margin-top:20px !important;
}

/* Page Title Ends */

/* Features Starts*/
 
 /* Feature One */
 
.features .feature-one{
	margin-top:30px;
}

.features .feature-one-image{
	margin-top:20px;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	 animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;     
    -o-animation-delay: 0s; 
}

.features .feature-one-image.animation{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.features .feature-one-image a img{
	border:5px solid #fff;
	margin:0 auto !important;
}

.features .feature-one-content{
	margin-top:20px;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	 animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s; 
}

.features .feature-one-content.animation{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.features .feature-one-content h3{
	font-size:40px;
}

.features .feature-one-content p{
	font-size:16px;
	line-height:30px;
	margin:30px 0px;
}

.features .feature-one-content a.btn{
	margin-bottom:30px;
}

/* Feature Two */

.features .feature-two{
	margin-top:80px;
}

.features .feature-two-content{
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	 animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s; 
	text-align:right;
}

.features .feature-two-content.animation{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.features .feature-two-content h3{
	font-size:40px;
}

.features .feature-two-content p{
	font-size:16px;
	line-height:30px;
	margin:30px 0px;
}

.features .feature-two-content a.btn{
	margin-bottom:30px;
}

.features .feature-two-image{
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	 animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s; 
}

.features .feature-two-image.animation{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.features .feature-two-image a img{
	border:5px solid #fff;
	margin:0 auto !important;
}

/* Feature Three */

.features .feature-three-item{
	padding:20px 10px 20px 0px;
	margin-top:80px;
}

.features .feature-three-image{
	float:left;
	width:25%;
}

.features .feature-three-image a img{
	max-width:100px;
	margin:0 auto;
}

.features .feature-three-content{
	float:right;
	width:75%;
}

.features .feature-three-content h4{
	font-size:25px;
	font-weight:bold;
}

.features .feature-three-content p{
	margin-top:10px;
	line-height:22px;
}

.features .feature-three-content a.btn{
	margin-top:15px;
}

/* Feature Four */

.features .feature-four{
	margin-top:80px;
	padding:10px 30px 30px 30px;
}

.features .feature-four-content{
	margin-top:20px;
	text-align: left;
}

.features .feature-four-content h2{
	font-size:40px;
	font-weight:bold;
}

.features .feature-four-content p{
	font-size:18px;
	line-height:22px;
	margin:10px 0px;
}

.features .panel-group{
	margin-top:20px;
	text-align: left;
}

.features .panel-group .panel{
	border:none !important;
}

.features .panel-heading{
	background:#675f5f;
}

.features .panel-heading h4{
	font-size:20px;
	font-weight:bold;
}

.features .panel-title a{
	color:#fff;
	border-bottom:0px;
}

.features .panel-title a i{
	width:40px;
	height:40px;
	line-height:40px;
	display:inline-block;
	border-radius:100px !important;
	text-align:center;
	margin-right:10px;
	font-size:15px !important;
	color:#fff;
}

.features .panel-body{
	line-height:25px;
	background:#766666;
	color:#fff;
	border-color:#5d4e4e !important;
}

/* Features Ends */

/* Portfolio Starts */
 
  
.portfolio .page-title h3{
	margin-bottom:20px !important;
}
 
.portfolio .portfolio-item{
	max-width:280px;
	max-height:200px !important;
	margin:0 auto !important;
	margin-bottom:150px !important;
}
 
.portfolio .portfolio-image a{
	display:block;
	position:relative;
	border-bottom:0px !important;
	margin-top:50px !important;
}

.portfolio .portfolio-image a span.img-hover{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(50, 60, 70, 0.6);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
 
 .portfolio .portfolio-image a span.img-hover:hover{
	opacity:1;
 }
   
.portfolio .portfolio-image a span i{
	display:inline-block;
	width:50px;
	height:50px;
	line-height:50px;
	color:#f1f1f1 !important;
	background:rgba(0,0,0,0.4);
	font-size:18px;
	border-radius:100px !important;
	margin:50px auto !important;
}
 
.portfolio .portfolio-image a img{
	height:163px !important;
}
 
.portfolio .portfolio-body{
	padding:20px 30px 30px 30px;
}
 
.portfolio .portfolio-body h3{
	font-size:22px;
	font-weight:bold;
}
 
.portfolio .portfolio-body p{
	font-size:13px;
	margin-top:10px !important;
}
 
 /* Pretty Photo */


div.ppt {
   display:none !important;
}

/* Portfolio Ends */

/* Products Starts */

/* Product One */

.product .product-one{
	margin-top:100px !important;
}

.product .product-one-image{
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	 animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s; 
}

.product .product-one-image.animation{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.product .product-one-image a img{
	margin:0 auto;
	box-shadow:0px 0px 20px #888 !important;
}

.product .product-one-item a.btn{
	margin-top:50px;
	margin-bottom:10px;
}

/* Product Two */

.product .product-two-item{
	margin-top:50px;
}

.product .product-two-image{
	float:left;
	width:150px;
	border:5px solid #fff;
}

.product .product-two-image.animated{
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s;  
}

.product .product-two-image.animation{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";	
}

.product .product-two-content{
	width:auto;
	margin-left:160px;	
}

.product .product-two-content h6{
	font-size:25px;
	font-weight:bold;
}

.product .product-two-content p{
	margin-top:10px;
	font-size:14px;
}

/* Product Ends */

/* CTA Starts */

.cta{
	background:#222;
}

.cta .cta-item h4{
	font-size:40px;
	margin-bottom:10px !important;
	line-height:50px;
}

.cta .cta-item p{
	font-size:15px;
	line-height:24px;
	color:#ccc;
}

.cta .cta-item li{
	font-size:15px;	
	line-height:40px !important;
	color:#ccc;
}

.cta .cta-item li span{
	width:25px;
	height:25px;
	border-radius:100px !important;
	line-height:25px;
	display:inline-block;
	text-align:center;
	margin-right:10px;
}

.cta .cta-item li i{
	font-size:12px;
	color:#fff !important;
}

.cta .cta-item a.btn{
	margin-top:30px;
}

/* CTA Ends */

/* Blog Starts */

.blog{
	padding:50px 0px;
}

.blog .posts{
	max-width:740px !important;
}

.blog .entry h2{
	margin-top:20px !important;
	line-height:40px;
}

.blog .entry h2 a{
	border-bottom:0px;
	font-size:35px;
	color:#333;
}

.blog .meta{
	margin:20px 0px;
	padding:15px 0px;
	color:#fff;
}

.blog .meta a{
	border-bottom:0px;
	color:#fff;
}

.blog .meta a:hover{
	border-bottom:1px solid #fff !important;
}

.blog .meta span a{
	margin-right:10px !important;
}

.blog .meta i{
	margin-right:5px;
	margin-left:10px;
}

.blog .bthumb a img{
	border:1px solid #bbb !important; 
}

.blog .entry{
	border-bottom:1px solid #bbb;
}

.blog .entry p{
	font-size:15px;
	line-height:30px;
	margin:20px 0px;
}

.blog .entry a{
	border-bottom:0px;
}

.blog .entry p a:hover{
	border-bottom:1px solid #32c8de;
}

.blog .entry p span{
	color:#32c8de;
}

.blog .entry a.btn{
	margin-bottom:30px;
}

.blog .paging{
	margin-top:30px;
}

.blog .paging a{
	color:#333 !important;
}

.blog .paging span.current{
	background:#32c8de;
	padding:5px 8px;
	border:1px solid #ccc;
	color:#fff;
}

.blog .paging span{
	padding:5px 8px;
	border:1px solid #ccc;
}

.blog .paging a{
	padding:5px 8px;
	border:1px solid #ccc;
}

.blog .paging a:hover{
	background:#32c8de;
	color:#fff !important;
}

.blog .sidebar{
	margin-top:30px;
}

.blog .widget{
	border:1px solid #ccc;
	margin-bottom:20px;
	background:#fff;
	padding:10px 15px;
}

.blog h4{
	font-size:20px;
	color:#fff;	
	font-weight:bold;
	padding:10px 10px 10px 15px;
}

.blog h4 i{
	margin-right:5px;
}

.blog .form-group input{
	border-color:#ccc !important;
}

.blog .sidebar .form-group input{
	height:30px !important;
}

.blog .form-group a.btn{
	margin-bottom:0px !important;
}

.blog .widget ul{
	position:relative;
	left:-20px;
}

.blog .widget li{
	margin-bottom:20px;
}

.blog .widget li a{
	color:#666;
}

.blog .social{
	margin-top:0px !important;
	margin-bottom:0px !important;
}

.blog .widget p{
	line-height:25px;
}

.blog .widget p span{
	color:#32c8de;
}

.blog .widget p a:hover{
	border-bottom:1px solid #32c8de;
}

.blog a.btn{
	margin-bottom:10px;
}

/* Blog Ends  */

/* Blog Single Starts */

.blog .title h5{
	font-size:25px;
	margin-top:20px !important;
	margin-bottom:20px !important;
}

.blog .comments ul{
	padding-left:0px !important;
}

.blog .comment{
	background:#f9f9f9;
	padding:20px;
	border-left:3px solid #ddd;
}


.blog .comment-author a{
	color:#666;
	border-bottom:0px;
	font-size:18px;
}

.blog .comment-author a span{
	color:#000;
}

.blog .comment-author a span:hover{
	border-bottom:1px solid #222;
}

.blog .comment .cmeta h6{
	font-size:14px;
	margin-top:10px !important;
	margin-bottom:10px !important;
	font-family: 'Proxima Nova Light', sans-serif;
}

.blog .comment p{
	line-height:24px !important;
}

.blog .comment a img{
	width:120px;
	margin-right:20px !important;
}

.blog .reply{
	margin-top:30px !important;
	margin-left:40px !important;
}

.blog .respond{
	margin-top:30px;
	border-top:3px solid #ddd;
	color:#888;
}

.blog .respond h5{
	margin-top:0px !important;
}

.blog .respond textarea{
	width:100% !important;
	border-color:#ccc !important;
	box-shadow: none !important;
}

.blog label{
	font-size:15px;
}

/* Blog Single Ends */

/* Testimonials Starts */

.testimonials .testimonials-item{
	margin-top:100px !important;
}

.testimonials .testimonials-item a {
	border-bottom:0px;
}

.testimonials .testimonials-item a img{
	display:inline-block;
	width:60px;
	height:60px;
	border-radius:100px !important;
	position:relative;
	left:50px;
	top:0;
}

.testimonials .testimonials-content{
	padding:20px;
	position: relative;
}

.testimonials .testimonials-content h3{
	font-size:20px;
}

.testimonials .testimonials-content p{
	margin-top:10px;
	line-height:23px;
}

.testimonials .testimonials-content:after, .testimonials-content:before {
	right: 100%;
	top: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.testimonials .testimonials-content:after {
	border-width: 10px;
}

.testimonials .testimonials-content.one:after {
	border-right-color: #f75353
}

.testimonials .testimonials-content.two:after {
	border-right-color: #32c8de;
}

.testimonials .testimonials-content.three:after {
	border-right-color: #c27256;
}

.testimonials .testimonials-content.four:after {
	border-right-color: #51d466;
}

.testimonials .item {
	margin-top:100px;
}	

.testimonials .item img{
	max-height:200px;
}

.testimonials .carousel-caption{
	left:0px;
	right:0px;
	z-index:100 !important;
}

.testimonials .carousel-caption img{
	margin:0 auto;
	width:170px;
	height:170px;
	border-radius:100px !important;	
}

.testimonials .content-right p{
	font-size:30px;	
	text-align:left;
	line-height:40px;
	font-family: 'Proxima Nova Light', sans-serif;
	text-shadow:none;
}

.testimonials .content-right small{
	float:left !important;
	margin-top:10px;
	font-size:20px;
	font-family: 'Proxima Nova Light', sans-serif;
	text-shadow:none;
	padding:10px;
}

.testimonials .carousel a{
	border-bottom:0px;
}

.testimonials a span{
	width:30px;
	height:60px;
	display:inline-block;
	line-height:60px;
	color:#fff;
	text-align:center;
	font-size:18px;
}

.testimonials a span.larrow{
	position:absolute;
	left:0px;
	margin-top:-190px;
}

.testimonials a span.rarrow{
	position:absolute;
	right:0px;
	margin-top:-190px;
}

/* Testimonial Ends*/

/* About US Starts */
	
/* About One */

.about-us .about-one{
	margin-top:100px;
}

.about-us .about-one-item a img{
	display:inline-block !important;
	margin: 0px 10px;
}

.about-us .about-one-item h3{
	font-size:30px;
	font-weight:bold;
	margin:20px 20px 0px 20px !important;
}

.about-us .about-one-item p{
	margin:10px 20px 20px 20px !important;
	font-size:15px;
	line-height:30px;
}

.about-us .about-one-links{
	padding:10px 20px 1px 20px;
	margin:20px !important;
}

.about-us .about-one-links li{
	margin-top:10px;
	padding-bottom:10px;
}

.about-us .about-one-links li a{
	border-bottom:0px;
	color:#fff;
}

.about-us .about-one-links li a:hover{
	color:#fff;
}

.about-us .about-one-links li a i{
	margin-right:10px;
	font-size:18px;
}

/* About Two */

.about-us .about-two{
	margin-top:20px;
}

.about-us .about-two-item{
	max-width:230px !important;
	margin:0 auto !important;
}

.about-us .about-two-head a{
	border-bottom:0px;
}

.about-us .about-two-head a img.animated{
	border:5px solid #fff;
	margin-top:20px !important;
	display:inline-block;
	text-align:center;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	 animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s; 
}

.about-us .about-two-head a img.animation{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.about-us .about-two-body h4{
	font-size:25px;
	font-weight:bold;
	margin-top:20px !important;
}

.about-us .about-two-body p{
	margin-top:10px;
}

/* About Three */

.about-us .about-three{
	padding:45px 30px 25px 30px;
	margin-top:40px;
	margin-bottom:50px;
}

.about-us .about-three-item p span{
	padding:0px 12px;
	font-size:40px;
	margin-top:60px !important;
}

.about-us .about-three-item h5{
	font-size:25px;
	margin-bottom:10px !important;
	margin-top:30px !important;
	font-weight:bold;
}

.about-us .about-three-item p{
	font-size:15px;
}

/* Our Process */

.about-us .our-process{
	margin-top:50px;
}

.about-us .our-process-item{
	padding:30px;
}

.about-us .our-process-item a{
	font-size:18px;
	border-bottom:0px;
}

.about-us .our-process-item a span{
	width:40px;
	height:40px;
	line-height:40px;
	display:inline-block;
	text-align:center;
	border-radius:100px !important;
	margin-right:5px;
}

.about-us .our-process-item h3{
	font-size:20px;
	font-weight:bold;
	display:inline;
	position:relative;
	top:3px;
}

.about-us .our-process-item p{
	margin-top:10px;
	font-size:14px;
	color:#777;
}

/* About US Ends */

/* Pricing Starts */

.pricing .table-responsive{
	border:0px !important;
}

.pricing .table{
	margin-top:100px;
	font-size:20px;
}
 
.pricing .table tr th{
	text-align:center;
	border-color:#d82a2a;
	background:#f75353;
	padding:15px 0px;
}

.pricing .table tr td{
	border-color:#555;
}

.pricing .table tr td h4{
	font-size:22px;
	font-weight:bold;
}

.pricing .table tr td h4 span{
	width:60px;
	height:60px;
	display:inline-block;
	line-height:60px;
	text-align:center !important;
	margin:0px 20px 15px 10px;
	position:relative;
	top:17px;
}
	
.pricing .table tr td h4 span.td-icon{
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s; 
}

.pricing .table tr td h4 span.td-icon.animation{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.pricing .table tr td p{
	margin-left:90px;
	color:#bbb;
	position:relative;
	bottom:25px;
	font-size:15px;
}

.pricing .table tr td:first-child{
	text-align:left;
}

.pricing .table tr th:nth-child(2){
	min-width:100px !important;
}

.pricing .table tr td:nth-child(2) i{
	margin-top:35px;
}

.pricing .table tr th:nth-child(3){
	min-width:100px !important;
}

.pricing .table tr td:nth-child(3) i{
	margin-top:35px;
}

.pricing .table tr th:last-child{
	max-width:100px !important;
}

.pricing .table tr td:last-child i{
	margin-top:35px;
}

/*.pricing .table tr:nth-child(7){
	font-family: 'Proxima Nova Light', sans-serif;
	font-weight:bold;
}*/

/*.pricing .table tr:nth-child(7) td{
	padding:15px 0px !important;	
}*/

.pricing .table tr:last-child  td{
	padding:15px 0px !important;
}

/* Pricing Ends */

/* Contact Us Starts */

.contact-us{
	padding-bottom:0 !important;
	padding-top: 0;
}

/* Contact One */

.contact-us .contact-one{
	margin-top:30px;
}

.contact-us .contact-one-item{
	margin-top:20px !important;
}

.contact-us .contact-one-item h6{
	font-size:25px;
	margin-bottom:10px !important;
	font-weight:bold;
	margin-top:20px !important;
}

.contact-us .contact-one-item p{
	font-size:15px;
	line-height:24px;
}

.contact-us .contact-one-item h5{
	font-size:25px;
	font-weight:bold;
	margin-top:20px !important;
	margin-bottom:10px !important;
}

.contact-us .contact-one-item h6{
	font-size:25px;
	font-weight:bold;
	margin-top:20px !important;
	margin-bottom:10px !important;
}

.contact-us .contact-one-item h4{
	font-size:25px;
	margin-top:10px !important;
	font-weight:bold !important;
}


/* Contact Two */

.contact-us .contact-two{
	margin-top:30px;
	margin-bottom:30px !important;
}

.contact-us .contact-two-item iframe{
	width:100%;
	height:400px;
	border:none !important;
}

.contact-us .contact-two-item{
	font-size:16px;	
	text-align:left;
	margin-top:0 !important;
}

.contact-us .contact-two-item h4{
	font-size:30px;
	margin-bottom:20px !important;
	font-weight:bold;
}

.contact-us .form-group .input-lg{
	font-size:20px;
	border:none !important;
}

.contact-us .form-group .input-lg:focus{
	background-color: rgba(255, 255, 255, 0.97);
}

.contact-us .form-group a.btn{
	margin-top:30px;
}

#rwform_alertbar{
	background-color: rgba(255, 0, 0, 0.55);
	border: medium none;
	border-radius: 4px !important;
	color: #fff;
	font-size: 18px;
	width: 100%;
	float: left;
}

#rwform_ajximg{
	display: none;
}

/* Contact Us Ends */

/* Footer Starts */

footer{
	background:#222;
}

footer .footer-content{
	padding:30px 0px;
}

footer .footer-content p{
	font-size:18px;
}

/* Footer Ends */

/* Scroll Top Starts */

.top{
	position:fixed;
	bottom:0;
	right:0;
	z-index:600;
}

.top a{
	display: block;
	width: 40px;
	height: 40px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	border-bottom:0px;
	font-size:15px;
	background:#000;
}

.top a:hover {
	color: #fff;
	text-decoration: none;
}

/* Scroll Top Ends */

/* Responsive CSS */

/* Mobile phones */

@media (max-width: 480px){

	/* Features */
	
	.features .feature-one{
		text-align:center;
	}
	
	.features .feature-two-content{
		text-align:center !important;
	}
	
	.features .feature-three-image a img{
		max-width:100%;
	}
	
	.features .feature-four a.btn{
		margin-bottom:10px !important;
	}
	
	.features .panel h4.panel-title a{
		font-size:11px;
	}
	
	.features .feature-four h2{
		font-size:25px;
	}
	
	.features .panel-title a i{
		width:30px;
		height:30px;
		line-height:30px;
		font-size:12px !important;
	}
	
	/* Blog */

	.blog .meta span a{
		margin-right:5px !important;
	}

	.blog .meta i{
		margin-right:5px;
		margin-left:5px;
	}

	/* Product */
	
	.product .product-two-content h6{
		font-size:15px;
	}
	
	.product .product-two-content p{
		font-size:13px;
	}

	/* CTA */
	
	.cta .cta-item ul{
		text-align:left !important;
		margin-left:40px !important;
	}

	/* Testimonial */

	.testimonials .carousel-caption img{
		width:70px !important;
		height:70px !important;
		margin-top:10px !important;
	}

	.testimonials .content-right p{
		font-size:15px !important;
		line-height:20px !important;
	}

	.testimonials .content-right small{
		font-size:12px !important;
		padding:5px !important;
	}
	
	.testimonials a span{
		width:20px;
		height:40px;
		line-height:40px;
		font-size:14px;
	}

	.testimonials a span.larrow{
		margin-top:-150px;
	}

	.testimonials a span.rarrow{
		margin-top:-150px;
	}
}

/* Tablets */

@media (max-width: 767px){

	/* Container */

	.container{
		max-width:400px;
	}

	/* Header */
	
	header{
		height:50px;
	}

	header .logo{
		text-align:center !important;
		position:relative;
		bottom:18px;
	}

	header .logo h1{
		margin-bottom:5px !important;
	}

	/* Navi */

	.navi{
		display:none;
	}

	.navis{
		width:200px;
		position:relative;
		bottom:40px;
	}
	
	.navis select { 
		display:inline-block; 
		width:100%;
		height: 30px;
		background: rgba(255, 255, 255, 0.7);
		color:#fff;
	}
	
	/* Features */

	.features .feature-two-content{
		text-align:left;
	}
	
	.features .feature-three-image{
		width:30% !important;
	}

	.features .feature-three-content{
		width:70% !important;
	}

	.features .info_container{
		padding: 0 !important;
	}

	/* CTA */

	.cta .cta-item {
		text-align:center;
	}

	.cta .cta-item ul{
		margin-top:30px !important;
		text-align:left !important;
		margin-left:100px;
	}

	/* Testimonial */

	.testimonials .carousel-caption img{
		width:100px;
		height:100px;
		float:left !important;
		margin-top:30px;
	}

	.testimonials .content-right p{
		font-size:20px;	
		line-height:30px;
		margin-left:110px !important;
	}

	.testimonials .content-right small{
		margin-left:110px !important;
		font-size:15px;
	}

	/* About US */

	.about-us .about-one{
		text-align:center;
	}

	.about-us .about-one  img{
		display:inline-block;
	}

	.about-us .about-one-links{
		margin-top:20px;
		text-align:left !important;
	}

	.about-us .about-three{
		text-align:center !important;
	}

	.about-us .about-three-item h5{
		margin-top:-20px !important;
	}

	.about-us .about-three-item p span{
		margin-top:50px !important;	
	}

	.about-us .about-three-item p{
		margin-bottom:50px !important;
	}

	.about-us .about-four{
		text-align:left !important;
	}

	/* Contact Us */
	
	.contact-us .contact-one{
		margin-top:20px !important;
	}

}
/* Desktop */

@media (max-width: 991px){

	/* Container */
	
	.container{
		width:100%;
	}
	
	/* Navigation */
	
	.navis{
		margin:0px auto;
		margin-top: -15px;
		float:right;
	}
	
	/* Features */
	
	.features .feature-three-image{
		width:30% !important;
	}

	.features .feature-three-content{
		width:70% !important;
	}

}

/*Rewrite theme*/

/* Cross-----------------------------------------------------------------------------------------------------------------------*/

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/proximanova-light.eot?') format('eot'), url('../fonts/proximanova-light.woff') format('woff');
}


.sprite{
	background: url("../img/sprite.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

a {
   outline: 0;
   border-bottom: none;
}

a::-moz-focus-inner { 
  border: 0; 
}

.top a{
	background-color: rgba(255, 255, 255, 0.1);
	border-top-left-radius: 4px !important;
}

p a{
	outline:none;
}

/*header----------------------------------------------------------------------------------------------------------------------*/

header .row{
 margin-left: 0;
 margin-right: 0;
}

header .container, header .col-md-4, header .col-sm-4{
	padding-left: 0;
	padding-right: 0;
}

.logo{
	margin-top: 30px;
}

.rewrite_logo{
	height:28px;
	width: 130px;
	display:table;
}

.mattblackmenu ul li:last-child a{
	padding-right: 0;
}

.mattblackmenu ul li a{
	opacity: 1;
   transition: opacity .20s ease-in-out;
   -moz-transition: opacity .20s ease-out-out;
   -webkit-transition: opacity .20s ease-in-out;
}

.mattblackmenu ul li:nth-child(1) a:hover, .mattblackmenu ul li:nth-child(1) a.active{
	color:#33ccff;
	opacity: 0.75;
}

.mattblackmenu ul li:nth-child(2) a:hover, .mattblackmenu ul li:nth-child(2) a.active{
	color:rgba(247, 83, 83, 1);
	opacity: 0.85;
}

.mattblackmenu ul li:nth-child(3) a:hover, .mattblackmenu ul li:nth-child(3) a.active{
	color:#06c149;
	opacity: 0.75;
}

.mattblackmenu ul li:nth-child(4) a:hover, .mattblackmenu ul li:nth-child(4) a.active{
	color:#f2f2f2;
	opacity: 0.75;
}

.navbar_rw ul li .active {
	background: rgba(41, 95, 146, 0.9);
	padding: 5px;
	border-radius: 4px;
	cursor: default;
}

/*Inicio--------------------------------------------------------------------------------------------------------------------*/

/*Carrousel*/


.banner-container{
	background: url("../img/banner_bg.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-size: 100%;
}

.carousel{
	height: 550px;
}

.item{
	height:447px;
}

.carousel-control{
	width: auto;
	height:53px;
	top:37%;
}

 .carousel-control, .carousel-control:focus{
 	border:0;
 }

.banner_content{
 	display: block;
 	width: auto;
 	min-width:850px;
 	max-width:850px;
 	margin-top:15%;
 	margin-left: auto;
 	margin-right: auto;
 	text-align: center;
 }

  .banner_content h1{
  	font-size: 65px;
  	border-bottom: 1px solid #FFFFFF;
  }

   .banner_content span{
  	display: block;
  }

  .banner_content.mood_skin{
  	min-width:758px;
 	max-width:758px;
  }

  .wordp_skin h1{
  	border-bottom: 1px solid #33ccff;
  	text-indent: 20px;
  }

  .mood_skin h1{
  	border-bottom: 1px solid #cc0000;
  }

  .mood_skin i{
  	color:#cc0000;
  	font-style: normal;
  }

  .wordp_skin i{
  	color:#33ccff;
  	font-style: normal;
  }

  .wordp_skin .sprite{
  	height: 124px;
    width: 106.5px;
  	background-position: 0 -161px;
  	margin-top: 8px;
  	text-indent: 20px;
  }

  .mood_skin .sprite{
  	height: 128px;
	width: 109px;
	background-position: 0 -29px;
  }

  .dis_web_skin .sprite{
	background-position: 0 -291px;
	height: 90px;
	text-indent: 20px;
	width: 112px;
  }

  .dis_web_skin i{
  	color:#06C149;
  	font-style: normal;
  }

  .dis_web_skin h1{
  	border-bottom: 1px solid #06C149;
  	text-indent: 15px;
  }

  .dev_web_skin .sprite{
	background-position: 0 -291px;
	height: 90px;
	text-indent: 20px;
	width: 112px;
  }

  .dev_web_skin i{
  	color:#06C149;
  	font-style: normal;
  }

  .dev_web_skin h1{
  	border-bottom: 1px solid #06C149;
  	text-indent: 15px;
  }

  .banner_content p{
  	font-size: 20px;
  	margin-top: 10px;
  	min-height: 70px;
  	max-height: 70px;
  	text-align: left;
  	text-indent: 21px;
  }

  .button_controls{
  	width: auto;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 20px;
  	display: block;
  	height: 70px;
  }

  .btn-lg{
	padding-top: 10px;
  	padding-bottom: 10px;
  	padding-left: 25px;
  	padding-right: 25px;
  	font-size: 20px;
  	border-radius: 4px !important;
  }

  .button_controls .btn-danger, .button_controls .btn-info, .button_controls .btn-default, .button_controls .btn-success {
  	border-top-right-radius: 0 !important;
  	border-bottom-right-radius: 0 !important;
  }

  .btn-primary{
  	border-top-left-radius: 0 !important;
  	border-bottom-left-radius: 0 !important;
  	border:1px solid #000033;
  	border-left:none;
  	background-color: rgba(11, 35, 175, 0.5);
  	margin-left: -3px;
  }

  .btn-primary:hover{
  	border-top-left-radius: 0 !important;
  	border-bottom-left-radius: 0 !important;
  	border:1px solid #000033;
  	border-left:none;
  	background-color: rgba(11, 35, 175, 0.8);
  	margin-left: -3px;
  }

  .btn-default {
	border:1px solid #000033;
    background-color:rgba(255, 255, 255, 0.7);
    color:rgba(11, 35, 175, 1) !important;
  }

  .btn-default:hover{
	border:1px solid #000033;
    background-color:rgba(255, 255, 255, 0.8);
    color:rgba(11, 35, 175, 1) !important;
  }

  .btn-info{
  	border: 1px solid #003333;
   	background-color: rgba(51, 204, 255, 0.5);
  }

  .btn-info:hover{
  	border: 1px solid #003333;
   	background-color: rgba(51, 204, 255, 0.7);
  }

  .btn-danger{
  	border: 1px solid #300101;
  	background-color: rgba(204, 0, 0, 0.7);
  }

  .btn-danger:hover{
  	border: 1px solid #300101;
  	background-color: rgba(204, 0, 0, 0.75);
  }

  .btn-success{
  	border: 1px solid #023802;
  	background-color: rgba(6, 193, 73, 0.7);
  }

  .btn-success:hover{
  	border: 1px solid #006838;
  	background-color: rgba(6, 193, 73, 0.75);
  }

.carousel-control.left, .carousel-control.right {
	background-image:none;
}

.carousel-control.left{
	left:4.5%;
}

.carousel-control.right{
	right:4.5%;
}		

.chevron-left, .chevron-right{
	display: block;
	height: 54px;
	width: 30px;
}

.chevron-left{
	background-position: 0 -564px;
}

.chevron-right{
	background-position:0 -636px;
}

/*---block ----------------------------------------------------------------------------------------------------------------------*/

 .br-lblue.block{
	padding-top: 30px;
	background: rgb(63,69,121); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(63,69,121,1) 0%, rgba(0,40,219,1) 0%, rgba(1,6,70,1) 72%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(63,69,121,1)), color-stop(0%,rgba(0,40,219,1)), color-stop(72%,rgba(1,6,70,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(63,69,121,1) 0%,rgba(0,40,219,1) 0%,rgba(1,6,70,1) 72%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(63,69,121,1) 0%,rgba(0,40,219,1) 0%,rgba(1,6,70,1) 72%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(63,69,121,1) 0%,rgba(0,40,219,1) 0%,rgba(1,6,70,1) 72%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(63,69,121,1) 0%,rgba(0,40,219,1) 0%,rgba(1,6,70,1) 72%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4579', endColorstr='#010646',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.br-black.block{
	padding-top: 30px;
	padding-bottom: 0;
	background: transparent;
}

.info_container{
	margin-left: auto;
	margin-right: auto;
	width: 775px;
	text-align: center;
}

.feature-one-item{
	margin-bottom: 40px;
}

.info_container .col-md-6.col-sm-6{
	margin-bottom: 30px;
}

.info_container .col-md-6.col-sm-6:nth-child(1), .info_container .col-md-6.col-sm-6:nth-child(3){
	padding-right:20px; 
}

.info_container .col-md-6.col-sm-6:nth-child(2), .info_container .col-md-6.col-sm-6:nth-child(4){
	padding-left:20px; 
}

.info_container .col-md-6.col-sm-6 span{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:15px;
}

.info_container .col-md-6.col-sm-6:nth-child(1) .mood_body_icon{
	background-position: -206px -86px;
	height: 50px;
	width: 69px;
}

.info_container .col-md-6.col-sm-6:nth-child(2) .mood_body_icon{
	background-position: -206px -144px;
	height: 50px;
	width: 50px;
}

.info_container .col-md-6.col-sm-6:nth-child(3) .mood_body_icon{
	background-position: -206px -201px;
	height: 50px;
	width: 50px;
}

.info_container .col-md-6.col-sm-6:nth-child(4) .mood_body_icon{
	background-position: -206px -266px;
	height: 50px;
	width: 42px;
}

.info_container .col-md-6.col-sm-6:nth-child(1) .dis_body_icon{
	background-position: -206px -325px;
	height:50px;
	width: 69px;
}

.info_container .col-md-6.col-sm-6:nth-child(2) .dis_body_icon{
	background-position: -206px -380px;
	height: 50px;
	width: 71px;
}

.info_container .col-md-6.col-sm-6:nth-child(3) .dis_body_icon{
	background-position: -206px -442px;
	height: 50px;
	width: 56px;
}

.info_container .col-md-6.col-sm-6:nth-child(4) .dis_body_icon{
	background-position: -206px -500px;
	height: 50px;
	width: 51px;
}

.info_container .col-md-6.col-sm-6 > p{
	font-size: 18px;
	margin-top: 4px;
}

.info_container .col-md-6.col-sm-6 > h4{
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	margin-bottom: 5px;
}

.page-title.text-center span{
	background-position: -206px 0;
	display: block;
	height: 82px;
	margin-left: auto;
	margin-right: auto;
	width: 108px;
}

.page-title.text-center h2{
	font-size: 45px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.page-title.text-center h2 i{
	font-style: normal;
}	

.page-title.text-center h3, h4{
	font-size: 22px;
	margin-top: 4px !important;
}

.page-title.text-center h3 strong{
	font-size: 20px;
	font-weight:500 !important;
}

/*---Servicios-----------------------------------------------------------------------------------------------------------*/

.servicios{
	background-color: rgba(255, 255, 255, 0.1) !important;
	border-radius: 4px !important;
	margin-bottom: 20px;
}

.servicios .col-md-6, .servicios .col-sm-6{
	margin-bottom: 0 !important;
	padding-bottom: 10px;
}

.servicios h2{
	font-size: 22px !important;
	font-weight: normal !important;
}

.servicios ul{
	padding-left: 0;
	font-size: 18px;
	line-height: 22px;
	text-decoration: none;
	list-style: none outside none;
}

/*.servicios .col-sm-6:nth-child(1), .servicios .col-md-6:nth-child(1){
	padding-right: 10px !important;
}

.servicios .col-sm-6:nth-child(2), .servicios .col-md-6:nth-child(2){
	padding-left: 10px !important;
}*/

.servicios ul li, .servicios h2{
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 4px !important;
	padding: 5px;
	margin-bottom: 5px;
}

.servicios ul li:last-child{
	margin-bottom: 0;
}

.servicios .panel-default{
	border-radius: 4px !important;
}

.servicios .panel-body{
	line-height: 22px;
	font-size: 18px;
	padding: 15px;
}

.servicios .panel-heading{
	border-radius: 4px;
}

.moodle .panel-heading{
	background-color: rgba(204, 0, 0, 0.7);
	padding: 0;
}

.moodle .panel-body{
	background-color: rgba(204, 0, 0, 0.4);
}

.wordpress .panel-heading{
	background-color: rgba(51, 204, 255, 0.5);
	padding: 0;
}

.wordpress .panel-body{
	background-color: rgba(1, 204, 255, 0.3);
}

 .servicios h2{
 	padding-top: 15px;
 	padding-bottom: 15px;
 	padding-left: 13px;
 }

.servicios .panel-default, .servicios .panel-heading h2{
	background-color: transparent !important;
}

.servicios .panel-body.black > ul{
	margin-bottom: 0;
}

.servicios .info_container .col-md-6.col-sm-6:nth-child(1), .servicios .info_container .col-md-6.col-sm-6:nth-child(3){
	padding-right:10px; 
}

.servicios .info_container .col-md-6.col-sm-6:nth-child(2), .servicios .info_container .col-md-6.col-sm-6:nth-child(4){
	padding-left:10px; 
}

.wp p a{
	color:#33ccff;
}

.wp p a:hover{
	opacity: 70% !important;
}

.panel-group .panel-heading+.panel-collapse .panel-body{
	border-color:#003333 !important;
}


/*---Tabla-----------------------------------------------------------------------------------------------------------------------*/

.pricing .table{
	margin-top: 30px;
	border: medium none !important;
	border-collapse: separate;
	border-spacing: 5px;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
	border-radius: 4px !important;
	border: none;
}

.pricing.wordpress .table tr th, .pricing.moodle .table tr:nth-child(12){
	background-color: rgba(51, 204, 255, 0.7);
	font-weight: 500;
	border-radius: 4px !important;
}

.pricing.wordpress .table tr th:first-child, .pricing.moodle .table tr:nth-child(11){
	background-color: rgba(51, 204, 255, 0.4);
}

.pricing.wordpress .table tr:nth-child(12){
	background-color: rgba(51, 204, 255, 0.7);
}

.pricing.moodle .table tr th, .pricing.moodle .table tr:nth-child(12){
	background-color: rgba(204, 0, 0, 0.7);
	font-weight: 500;
	border-radius: 4px !important;
}

.pricing.moodle .table tr th:first-child, .pricing.moodle .table tr:nth-child(11){
	background-color: rgba(204, 0, 0, 0.4);
}

.pricing.moodle .table tr:nth-child(12){
	background-color: rgba(204, 0, 0, 0.7);
}

.pricing.design .table tr th:first-child, .pricing.design .table tr:nth-child(6){
	background-color: rgba(6, 193, 73, 0.4);
}

.pricing.design .table tr th, .pricing.design .table tr:nth-child(7){
	background-color: rgba(6, 193, 73, 0.7);
	font-weight: 500;
	border-radius: 4px !important;
}

.pricing .table tr td{
	background-color: rgba(255, 255, 255, 0.1);
}

.pricing .table tr td{
	font-size: 20px;
	padding-bottom: 0;
	padding-top: 0;
}

.pricing .table tr td i{
	margin-top: 0 !important;
	font-size: 30px !important;
}

.pricing .table tr td a{
	border: none;
	background: transparent;
	font-size: 20px !important;
	font-weight: 500 !important;
}

.table.table-bordered .orange{
	color: #FC2924;
	font-weight: 500 !important;
	font-size: 20px !important;
}

.table.table-bordered p{
	margin-top: 24px;
	margin-left: 0 !important;
	font-size: 16px !important;
}

/*-- Pre Footer ------------------------------------------------------------------------------------------------------------------*/

.contact-us .text-center .block{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.contact-us .pull-left, .contact-us .pull-right{
	border-bottom: none;
	font-size: 20px;
	cursor:pointer;
}

.contact-us .g_plus, .contact-us .facebook, .contact-us .behance, .contact-us .twitter{
	display: block;
	height: 29px;
	margin-left: 5px;
	width: 31px;
}

.contact-us .g_plus{
	background-position: -422px 0;
}

.contact-us .facebook{
	background-position: -422px -43px;
}

.contact-us .behance{
	background-position: -422px -86px;
}

.contact-us .twitter{
	background-position: -422px -128px;
}

.contact-us .info_container{
	border-bottom: 1px solid  rgba(255, 255, 255, 0.6);
}
.contact-us .form-group{
	margin-bottom: 10px !important;
}

.form-control.input-lg.rwform.required{
	color:#000;
}

.contact-us .form-group input, .contact-us .form-group select, .contact-us .form-group textarea{
	border-radius: 4px !important;
	background-color: rgba(255, 255, 255, 0.85);
}

.contact-us .form-group textarea{
	min-width: 746px;
	max-width: 746px;
	min-height: 75px;
	max-height: 75px;
}

.contact-us .btn{
	width: 100%;
}

.contact-us .captcha-text{
	font-weight: normal;
	font-style: normal;
	color:#fff;
	font-size: 18px;
}

.form-control.input-lg.rwform.required::-moz-placeholder, ::-input-placeholder  {
  color: #000;
  font-size: 20px;
  font-weight: normal;
}

/*--- Footer ---------------------------------------------------------------------------------------------------------------------*/

footer{
	background: none;
}

footer .rewrite_logo{
	margin-left: auto;
	margin-right: auto;
	border-bottom: none;
}

footer p{
	font-size: 18px;
	margin-top: 10px;
}

footer.info_container{
	margin-bottom: 40px;
}

/*--- Mediaquery--------------------------------------------------------------------------------------------------------------------*/



@media (max-width: 767px){

	.mattblackmenu ul li a{
		padding-left: 10px;
		padding-right: 10px;
	}

	.banner-container{
		background-size: cover;
		background-position: center;
	}

	
	.banner_content.dis_web_skin, .banner_content.dev_web_skin, .banner_content.dev_web_skin, .banner_content.wordp_skin, .banner_content.mood_skin{
		max-width: 300px;
		min-width: 300px;
	}

	.banner_content h1{
		font-size: 45px;
		text-align: center;
	}

	.banner_content p{
		text-align: center;
		font-size: 16px;
		text-indent: 0;
	}

	.carousel {
		height: 325px;
	}

	.mood_skin .sprite, .dis_web_skin .sprite, .dev_web_skin .sprite, .wordp_skin .sprite{
		display: none;
	}

	.btn{
		width: 91%;
		margin-top: 5px;
		border-radius: 2px !important;
	}

	.info_container{
		width:290px;
		margin-top: 0;
	}

	.br-black.block{
		padding-top: 15px;
	}

	.br-lblue.block{
		padding-top: 20px;
	}

	.page-title.text-center h2{
		font-size:25.9px;
	}

	.page-title.text-center h3, .page-title.text-center h3 strong{
		font-size: 19px;
	}

	.page-title.text-center h4{
		font-size: 21px;
	}

	.pricing .table th{
		font-size: 18px;
	}

	.pricing.design .table-responsive{
		overflow: hidden;
	}

	.table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td{
		white-space: normal;
		font-size: 18px;
		padding-right: 0;
	}

	.table.table-bordered .orange{
	font-size:16px !important;
	}
	.pricing .table th; .pricing .table p{
		font-size: 16px !important;
	}
}

@media (max-width: 480px){
	.navis select{
		width:75%;
		margin-left: 40px;
	}

	.banner_content{
		margin-top: 12%;
	}

	.banner_content h1{
		font-size: 35px;
	}

	.banner_content.dis_web_skin, .banner_content.dev_web_skin, .banner_content.dev_web_skin, .banner_content.wordp_skin, .banner_content.mood_skin {
		max-width: 220px;
		min-width: 220px;
	}

	footer .container{
		width:100%;
		margin:0;
	}

	footer p {
		font-size: 16px;
		margin-top: 6px;
	}

	.contact-us .form-group textarea {
		min-width: 260px;
		max-width: 250px;
	}