		<!-- Contact Us Starts-->
		
		<div class="contact-us text-center block">
			<!-- Container -->
			<div class="container info_container">				
				<div class="contact-one">
				 <a class="pull-left">info@rewrite.com.ar</a>
<!-- 				 <a class="pull-right sprite g_plus"></a>	
				 <a class="pull-right sprite facebook"></a> -->
				 <a class="pull-right sprite twitter" href="https://twitter.com/inforewrite"></a>	
				</div>
			</div>
		</div>
				
		<!-- Contact Us Ends -->
				
		<!-- Footer Starts-->
	
		<footer class="text-center info_container">
			<!-- Container -->
			<div class="container">
				<!-- Footer Content -->
					<p><small>Derechos reservados <?php echo date('Y'); ?> &copy; - </small>ReWrite <small> - Diseño, desarrollo, cloud hosting y soporte.</small></p>
				</div>
			</div>
		</footer>
		
		<!-- Footer Ends -->
		
		<!-- Scroll To Top -->
			<span class="top"><a href="#"> <i class="fa fa-chevron-up"></i> </a></span>