<!-- Header  Starts -->

<header>
	<!-- Container -->
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4"> 
				<!-- Logo -->
				<div class="logo">
					<h1><a href="#" class="sprite rewrite_logo"></a></h1>
				</div>
			</div>
			<div class="col-md-8 col-sm-8">
				<!-- Navigation -->
				<div class="navi">
					<!-- Menu --> 
					<div id="ddtopmenubar" class="mattblackmenu pull-right">
						<!-- UnorderedList -->
						<ul>
							<!-- List -->
							<li><a href="wordpress-hosting">Hosting Wordpress</a></li>							
							<li><a href="moodle-hosting-soporte">Hosting Moodle</a></li>							
							<li><a href="diseno-web">Diseño Web</a></li>	
							<li><a href="desarrollo-web">Desarrollo Web</a></li>	
							<li><a href="contactanos">Contacto</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Dropdown NavBar -->
			<div class="navis"></div>
		</div>
	</div>
</header>

<!-- Header Ends -->