<meta charset="utf-8">
<title>{{ settings:site_name }} &raquo; {{ template:title }}</title>
<meta http-equiv="cache-control" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="ReWrite">
<meta name="description" content="Desarrollo web, hosting, elearning.">
<meta name="keywords" content="Desarrollo web, hosting, elearning">
{{ template:metadata }}  
<!-- Set a base location for assets -->
<base href="{{ url:base }}"/>
<!-- End base -->

<!-- Open Sans -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>
<!-- Open Sans Condensed -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

<!-- CSS. No need to specify the media attribute unless specifically targeting a media type, leaving blank implies media=all -->
{{ theme:css file="bootstrap.min.css" }}
{{ theme:css file="font-awesome.min.css" }}


{{ theme:css file="ddlevelsmenu-base.css" }} 
{{ theme:css file="ddlevelsmenu-topbar.css" }} 
{{ theme:css file="rs-settings.css" }} 
{{ theme:css file="animate.min.css" }} 
{{ theme:css file="prettyPhoto.css" }}   
{{ theme:css file="style.css" }}  
{{ theme:css file="custom.css" }}

<!-- End CSS-->           

{{ theme:js file="jquery.js" }}

<!-- Favicon -->
<link rel="shortcut icon" href="#">  

{{ theme:favicon }}  


