

.social a.social-icon{
	background-color: #222;
}

/* slider */
.tp-caption small{
	font-size: 14px;
}

/* service page */
.service .service-one-item h4 a {
	color: #fff;
}

.pricing .table th {
	font-size: 20px;
}

.pricing .table tr td h4 {
	font-size: 18px;
	font-weight: bold;
}

.pricing .table tr:last-child td a {
	font-size: 15px;
	font-weight: bold;
}

.pricing .table {
	font-size: 14px;
}

.pricing .table td{
	vertical-align: middle;
}

.pricing .table tr td i {
	margin-top: 35px;
}

.pricing .table tr td:nth-child(1) i {
	margin-top: 23px;
}

.pricing .table tr th:nth-child(4){
	min-width:100px !important;
}

.pricing .table tr th:nth-child(5){
	min-width:100px !important;
}


.product .first-row-buttons {
	text-align: center;
	margin-top: 25px;
}
