		<!-- Revolution Slider Starts -->
		
		<!-- Full Width Banner Container -->
		
		<div class="banner-container">
			<!-- Banner -->
			<div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
      <div class="carousel-inner">
        <div class="item active">
        	<div class="banner_content wordp_skin">
        		<span class="sprite pull-left"></span>
        		<span class="pull-left">
		        	<h1><i>WordPress</i> llave en mano</h1>
		        	<p>Listo para obtener presencia online. Las cuestiones técnicas, las tratamos nosotros</p>
		        </span>
		        <div class="button_controls">
				    <button class="btn btn-info btn-lg">Contratar</button>
				    <button class="btn btn-primary btn-lg">Mas Info</button>
				</div>	
		    </div>
		</div>        	
        <div class="item">
        	<div class="banner_content mood_skin">
        	<span class="sprite pull-left"></span>	
        	<span class="pull-left">
	        	<h1><i>Moodle</i> llave en mano</h1>
	        	<p>Listo para cargar usuarios y cursos. Las cuestiones técnicas, las tratamos nosotros</p> 
        	</span>
	        	<div class="button_controls">
		        	<button class="btn btn-danger btn-lg">Contratar</button>
				    <button class="btn btn-primary btn-lg">Mas Info</button>
			    </div>
        	</div>         
        </div>

        <div class="item">
         	<div class="banner_content dis_web_skin">
         		<span class="sprite pull-left"></span>
         		<span class="pull-left">
		        	<h1><i>Diseño Web</i> a tu medida</h1>
		        	<p>Le damos una imagen profesional a tu sitio web, a la medida de tu negocio</p>
	        	</span>	
		        <div class="button_controls">
		        	<button class="btn btn-success btn-lg">Contratar</button>
				    <button class="btn btn-primary btn-lg">Mas Info</button>
			    </div> 
        	</div>          
        </div>

      </div>
      <a data-slide="prev" href="#carousel-example-generic" class="left carousel-control">
        <span class="sprite chevron-left"></span>
      </a>
      <a data-slide="next" href="#carousel-example-generic" class="right carousel-control">
        <span class="sprite chevron-right"></span>
      </a>
    </div>

		
		<!-- Revolution Slider Ends -->


		